<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
		  <setting name="TNS_ADMIN" value="C:\oracle19c\19.0.0\network\admin" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		  <!--<setting name="TNS_ADMIN" value="C:\Oracle_x64\product\11.2.0\client_1\network\admin" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
	  </settings>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="Web_Master_Email_Address" value="jallen@nd.gov" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ShowErrors" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="OwsiConnection" connectionString="Data Source=owsidev;User Id=wsi_ocl_s;Password=z1q3@p5f7;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="PicsOel" connectionString="Data Source=owsidev;User Id=wsi_ocl_s;Password=z1q3@p5f7;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    <add name="IncidentReportData" connectionString="Data Source=owsidev;User Id=!wsi_ir_siud;Password=z1q3@p5f7;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LoggingEntities" connectionString="5b05cd580acff164113fdfe9bc956f826e12c6203a4e93b78794113cb28e7026f3618d26a620220d44bf10721fdc45d2dc723dc2ee9a770963639f040732f75d41b05d6685ad626cc16e678f8e3c7d558af0aa6806b004c5a947824a6845df34e361951331ed166b0a7bedddf350c92b4dea147104d0b8a2579bb1a16270c6f9b1d89f5bce946ff745ac2aebb43a42e7" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="OnlineServicesEx.aspx" mode="On" xdt:Transform="Replace" />
  </system.web>
</configuration>