<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="C:\oracle19c\19.0.0\network\admin" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="encKeyValue128" value="00765d91d90c74ee976ac6505e9648bb" />
    <add key="ClaimLookupPresumedClosedOtherMessageText" value="Claim is presumed closed per ND State Statute. Call WSI customer service at 1-800-777-5033." />
    <add key="ClaimLookupClosedOtherMessageText" value="Call WSI customer service 1-800-777-5033 to determine current pay status." />
    <add key="ClaimLookupDbLinkName" value="CMSRPT_ONLN.wsi.nd.gov" />
    <add key="ClaimLookupPlusMinusDaysRange" value="5" />
    <add key="ImageSrc_ndgovBanner" value="https://www.nd.gov/banner/images/ndgov-banner.jpg" />
    <!--<add key="ImageSrc_NdGovMain" value="http://www.workforcesafety.com/sites/default/files/nd-logo.gif" />-->
    <add key="ImageSrc_NdTourismLogo" value="https://www.nd.gov/banner/images/tourism-banner-blue.jpg" />
    <add key="Link_AboutUs" value="https://www.workforcesafety.com/about-us" />
    <add key="Link_Careers" value="https://www.workforcesafety.com/about-us/careers" />
    <add key="Link_ClaimLookup" value="ClaimLookup.aspx" />
    <add key="Link_Disclaimer" value="https://www.workforcesafety.com/privacy-policy" />
    <add key="Link_EmployerSearch" value="EmployerSearch.aspx" />
    <!--<add key="Link_EmployerSearchFaq" value="https://www.workforcesafety.com/wsi/onlineservices/EmployerSearchFAQ.aspx" />-->
    <add key="Link_EmployersOnlineServices" value="https://mywsi.workforcesafety.com/" />
    <add key="Link_EmployersPage" value="http://www.workforcesafety.com/employers" />
    <add key="Link_FraudAwareness" value="https://www.workforcesafety.com/about-us/fraud-awareness" />
    <add key="Link_FROI" value="https://www.workforcesafety.com/workers/reporting-injury" />
    <add key="Link_HomePage" value="https://www.workforcesafety.com/" />
    <add key="Link_IncidentReport" value="IRCompanySelect.aspx" />
    <add key="Link_NDGovMain" value="https://www.nd.gov" />
    <add key="Link_ndTourism" value="https://www.ndtourism.com/" />
    <add key="Link_Privacy" value="https://wsiworkforcesafetytest.itd.nd.gov/privacy-policy" />
    <add key="Link_WorkerRegistrationForm" value="https://www.workforcesafety.com/return-work/preferred-worker-program" />
    <add key="Link_WsiHome" value="https://www.workforcesafety.com/" />
    <add key="PicsDbLink" value="pics_onln.wsi.nd.gov" />
    <add key="SMTPServer" value="apprelay1.nd.gov" />
    <add key="Web_Master_Email_Address" value="wsinoreply@nd.gov" />
    <add key="ShowErrors" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="OwsiConnection" connectionString="Data Source=owsisit;User Id=wsi_ocl_s;Password=z1q3@p5f7;" />
    <add name="PicsOel" connectionString="Data Source=owsisit;User Id=wsi_ocl_s;Password=z1q3@p5f7;" />
    <add name="IncidentReportData" connectionString="Data Source=owsisit;User Id=!wsi_ir_siud;Password=z1q3@p5f7;" />
    <add name="LoggingEntities" connectionString="5b05cd580acff164113fdfe9bc956f82859066ddcb9354dd0c19b91440de468a10f852e5f38733b2f6badd027af46028f5944fc2b5be9ade122fd85c07024c54c282399786dd2cd2c9d1a7abe19f19ffdce6b9f93c38aa953a09cf3963703785e0f1dcfa280661692a69327146f0a4d796e7e62b563c9774c52c9cd36ee97528f7322610ec0fa5bea8f93cfea6720004" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-OnlineServices-20210830101226;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-OnlineServices-20210830101226.mdf" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <customErrors defaultRedirect="OnlineServicesEx.aspx" mode="RemoteOnly" />
    <!--defaultRedirect="OnlineServicesEx.aspx"-->
    <pages maxPageStateFieldLength="140" controlRenderingCompatibilityVersion="4.0" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- <httpErrors errorMode="Detailed"/> -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>
<!--ProjectGuid: E80857CC-FA60-4235-A8FA-E8B20D2C98FC-->