<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="E:\Oracle\Oracle19c_32bit\network\admin" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="Web_Master_Email_Address" value="wsinoreply@nd.gov" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ShowErrors" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="OwsiConnection" connectionString="Data Source=WSI_ONLN.ITD.ND.GOV;User Id=wsi_ocl_s;Password=homing-SBk48dqx;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="PicsOel" connectionString="Data Source=WSI_ONLN.ITD.ND.GOV;User Id=wsi_ocl_s;Password=homing-SBk48dqx;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    <add name="IncidentReportData" connectionString="Data Source=WSI_ONLN.ITD.ND.GOV;User Id=!wsi_ir_siud;Password=buckled-PpwUJb24;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LoggingEntities" connectionString="5b05cd580acff164113fdfe9bc956f82859066ddcb9354dd0c19b91440de468a10f852e5f38733b2f6badd027af46028f5944fc2b5be9ade122fd85c07024c54c282399786dd2cd2c9d1a7abe19f19ffdce6b9f93c38aa953a09cf3963703785e0f1dcfa280661692a69327146f0a4d796e7e62b563c9774c52c9cd36ee97528f7322610ec0fa5bea8f93cfea6720004" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="OnlineServicesEx.aspx" mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>