<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />-->
  </configSections>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="d:\oracle\product\11.2.0\client_1\network\admin" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="encKeyValue128" value="00765d91d90c74ee976ac6505e9648bb" />
    <add key="ClaimLookupPresumedClosedOtherMessageText" value="Claim is presumed closed per ND State Statute. Call WSI customer service at 1-800-777-5033." />
    <add key="ClaimLookupClosedOtherMessageText" value="Call WSI customer service 1-800-777-5033 to determine current pay status." />
    <add key="ClaimLookupDbLinkName" value="CMSRPT_ONLN.wsi.nd.gov" />
    <add key="ClaimLookupPlusMinusDaysRange" value="5" />
    <add key="ImageSrc_ndgovBanner" value="https://www.nd.gov/banner/images/ndgov-banner.jpg" />
    <!--<add key="ImageSrc_NdGovMain" value="http://www.workforcesafety.com/sites/default/files/nd-logo.gif" />-->
    <add key="ImageSrc_NdTourismLogo" value="https://www.nd.gov/banner/images/tourism-banner-blue.jpg" />
    <add key="Link_AboutUs" value="https://www.workforcesafety.com/about-us" />
    <add key="Link_Careers" value="https://www.workforcesafety.com/about-us/careers" />
    <add key="Link_ClaimLookup" value="ClaimLookup.aspx" />
    <add key="Link_Disclaimer" value="https://www.workforcesafety.com/privacy-policy" />
    <add key="Link_EmployerSearch" value="EmployerSearch.aspx" />
    <!--<add key="Link_EmployerSearchFaq" value="https://www.workforcesafety.com/wsi/onlineservices/EmployerSearchFAQ.aspx" />-->
    <add key="Link_EmployersOnlineServices" value="https://mywsi.workforcesafety.com/" />
    <add key="Link_EmployersPage" value="http://www.workforcesafety.com/employers" />
    <add key="Link_FraudAwareness" value="https://www.workforcesafety.com/about-us/fraud-awareness" />
    <add key="Link_FROI" value="https://www.workforcesafety.com/workers/reporting-injury" />
    <add key="Link_HomePage" value="https://www.workforcesafety.com/" />
    <add key="Link_IncidentReport" value="IRCompanySelect.aspx" />
    <add key="Link_NDGovMain" value="https://www.nd.gov" />
    <add key="Link_ndTourism" value="https://www.ndtourism.com/" />
    <add key="Link_Privacy" value="https://wsiworkforcesafetytest.itd.nd.gov/privacy-policy" />
    <add key="Link_WorkerRegistrationForm" value="https://www.workforcesafety.com/return-work/preferred-worker-program" />
    <add key="Link_WsiHome" value="https://www.workforcesafety.com/" />
    <add key="PicsDbLink" value="pics_onln.wsi.nd.gov" />
    <add key="SMTPServer" value="apprelay1.nd.gov" />
    <add key="Web_Master_Email_Address" value="jallen@nd.gov" />
    <add key="ShowErrors" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="OwsiConnection" connectionString="Data Source=owsitest;User Id=wsi_ocl_s;Password=z1q3@p5f7;" />
    <add name="PicsOel" connectionString="Data Source=owsitest;User Id=wsi_ocl_s;Password=z1q3@p5f7;" />
    <add name="IncidentReportData" connectionString="Data Source=owsitest;User Id=!wsi_ir_siud;Password=z1q3@p5f7;" />
    <add name="LoggingEntities" connectionString="5b05cd580acff164113fdfe9bc956f826e12c6203a4e93b78794113cb28e7026f3618d26a620220d44bf10721fdc45d2dc723dc2ee9a770963639f040732f75d41b05d6685ad626cc16e678f8e3c7d558af0aa6806b004c5a947824a6845df34e361951331ed166b0a7bedddf350c92b4dea147104d0b8a2579bb1a16270c6f9b1d89f5bce946ff745ac2aebb43a42e7" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <customErrors  mode="Off" /><!--defaultRedirect="OnlineServicesEx.aspx"-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <pages maxPageStateFieldLength="140" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
	<httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: E80857CC-FA60-4235-A8FA-E8B20D2C98FC-->