<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="wsiuat" connectionString="Data Source=wsiuat;User Id=med;Password=one4all;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="C:\oracle\12.2.0\network\admin"/>
      </settings>
    </version>
  </oracle.manageddataaccess.client>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
